.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main {
  padding-top: 0.5rem;
  padding-right: 2.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* grid overrides */

.ui.grid>.row>.column {
  padding-left: .2rem;
  padding-right: .2rem;
}

.ui.grid>.row {
  padding-bottom: .2rem;
  padding-top: .1rem;
}

.ui.item.menu .item {
  padding: 0 !important;
}

.segment {
  line-height: 100%;
}

.headerInfo, .headerInfo * {
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  font-style: italic;
}

.blogContainer {
  margin-top: 0.5rem !important;
  /* overrides semantic.ui.segment */
}

.blogContainer .ui.table td,
.projectContainer th {
  padding: 0.25rem 0.5rem;
}

.projectContainer td {
  padding: 0.25rem 0.5rem !important;
  /* overrides semantic .ui.table td */
}

.projectTopSegment {
  height: 12rem;
}

.projectMiddleSegment {
  height: 17rem;
}

.centerImageWithText {
  display: flex;
  align-items: center;
}

.centerImageWithText img {
  height: 20px;
  padding-right: 3px;
}

.secondaryNavBar {
  margin: 0 auto !important;
  /* overrides semantic.ui.segments:first-child */
  width: 35rem;
}

.centered {
  margin: 0 auto;
}

.centerMedium {
  margin: auto !important;
  width: 40rem;
}

.segmentTitleHasSubtitle {
  margin-bottom: 0.25rem;
}

.groupSegment {
  margin-bottom: 1.5rem;
}

.clickable {
  cursor: pointer;
}